@model Lession3.User
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="delete-hide">
    <h6 style="color: red">Bạn có chắc chắn muốn xóa người dùng có ID - @Model.Id</h6>
    <hr />
    <input type="hidden" name="id" value="@Model.Id" />
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th style="text-align: center">
                    ID người dùng
                </th>
                <th style="text-align: center">
                    Tên tài khoản
                </th>
                <th style="text-align: center">
                    Mật khẩu
                </th>
                <th style="text-align: center">
                    Tên người dùng
                </th>
                <th style="text-align: center">
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>@Model.Id</td>
                <td>@Model.AccountName</td>
                <td>@Model.Pass</td>
                <td>@Model.UserName</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>

    <form method="post">
        <div class="form-actions no-color">
            <a href="~/User/Index" class="btn btn-warning">Trở về</a> |
            <button id="deleteBtn" type="button" class="btn btn-danger">Xóa</button>
        </div>
    </form>
</div>
<div class="center-vertically"><div class="table-container" id="userTableContainer"> </div></div>

<script>
    $(document).ready(function () {
        loadData();
        $("#deleteBtn").click(function (e) {
            var id = parseInt($("input[name='id']").val());

            e.preventDefault();
            var userData = {
                id: id
            };
            $.post("/User/Delete", userData)
                .done(function (response) {
                    loadData();
                    alert("Xóa thành công mã: " + id);
                    $('.delete-hide').hide();

                })
                .fail(function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert("xóa lỗi máy chủ: " + error);
                });
        });
    });

    function loadData() {
        $.ajax({
            type: "GET",
            url: "/User/ListUserPatialView",
            success: function (partialView) {
                $('#userTableContainer').html(partialView);
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert("lỗi khi truyền sang partialview: " + error);
            }
        });
    };
</script>