﻿@model List<Lession3.User>
@{
    ViewBag.Title = "Index";
}

<h3>Danh sách người dùng</h3>

<p style="float:right;">
    <a href="~/User/Register" class="btn btn-info text-right">Thêm mới</a>
</p>
<table class="table table-striped table-bordered">
    <tr class="table-dark">
        <th style="text-align: center">
            ID người dùng
        </th>
        <th style="text-align: center">
            Tên tài khoản
        </th>
        <th style="text-align: center">
            Mật khẩu
        </th>
        <th style="text-align: center">
            Tên người dùng
        </th>
        <th style="text-align: center">
            Email
        </th>
        <th style="text-align: center">
            Thao tác
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-info">
            <td>
                @item.Id
            </td>
            <td>
                @item.AccountName
            </td>
            <td>
                @item.Pass
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>

            <td style="text-align: center">
                <a href="~/User/Edit/@item.Id" class="btn btn-success">Sửa</a>
                <a href="~/User/Delete/@item.Id" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
    }
</table>
